header {
  background: #004d47;
  height: 35px;

  background-image: linear-gradient(to bottom, #004d47 50%, white 50%);
}
.container {
  color: #efd26e;
}
.sosial-media {
  padding: 10px;
  color: #efd26e;
}
.navbar {
  background: url(../Asset/bg-nav.png);
  height: 80px;
}
.logo {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title-logo > h4 {
  display: flex;
  margin-bottom: -3px;
  margin-left: 7px;
  font-size: 20px;
  color: #004d47;
  font-weight: bold;
}
.title-logo > p {
  display: flex;
  margin-bottom: -3px;
  margin-left: 7px;
  font-size: 15px;
  color: #004d47;
  font-weight: bold;
}

.collapse {
  justify-content: end;
  padding: 20px;
}
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}
.active {
  color: #004d47;
  font-weight: bold;
}
.container-parent {
  background: url(../Asset/bg-nav.png);
}
.container.bawah-slide {
  width: 400px;
  background-color: #004d47;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}
.container.bawah-slide > p {
  color: #b3903e;
  margin-top: -5px;
  padding-bottom: 2px;
}
.container > .card {
  display: flex;
}
.col.css {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-fluid.css {
  background: linear-gradient(to right, #5bff6e, #1c7622, #05450a);
}
.container.profile {
  display: flex;
  justify-content: center;
}
.col-md-4 {
  display: flex;
  justify-content: center;
}

.grup-visi-misi {
  display: flex;
}
.pro.bg-success.kiri {
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  width: 320px;
  height: 100px;
}
.pro.bg-success.kanan {
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  width: 320px;
  height: 100px;
}
.pro.bg-success.tengah {
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
}
.pro.pro.bg-success > svg {
  margin: 10px;
}
.pro.bg-success > p {
  display: contents;
  padding-left: 10px;
  text-align: left;
}
.title-description {
  padding: 10px;
}
.card {
  border: none;
}
.container-fluid.Struktur-organisasi{
  background: url(../Asset/bg-nav.png);
}

/* Ukuran Handphone */

@media screen and (max-width: 480px) {
  .navbar {
    background: url(../Asset/bg-nav.png);
    height: 60px;
  }
  img {
    width: 40px;
  }

  .title-logo > h4 {
    display: flex;
    margin-bottom: -3px;
    margin-left: 10px;
    color: #004d47;
    font-weight: bold;
  }
  .title-logo > p {
    display: flex;
    margin-bottom: -3px;
    margin-left: 10px;
    color: #004d47;
  }
  .navbar-toggler {
    height: 25px;
    width: 35px;
  }
  .navbar-toggler-icon {
    height: 17px;
    position: absolute;
    display: flex;
    margin-top: -7px;
    margin-right: 20px;
    margin-left: -15px;
  }
  .navbar-toggler-icon :hover {
    background-color: #004d47;
  }
  .container.bawah-slide {
    width: 100px;
    background-color: #004d47;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
  }
  .container.bawah-slide > h4 {
    font-size: 10px;
  }
  .container.bawah-slide > p {
    font-size: 7px;
    margin-top: -5px;
    padding-bottom: 2px;
    color: #b3903e;
  }
  .card-img,
  .card-img-top {
    margin-top: -8px;
  }
  .img-fluid.profile {
    width: auto;
  }
  .card-text.profile{
    font-size: small;
  }
  .grup-visi-misi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pro.bg-success.kiri {
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 320px;
    height: 100px;
  }
  .pro.bg-success.kanan {
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 320px;
    height: 100px;
  }
  .pro.bg-success.tengah {
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 320px;
    height: 100px;
  }
  .container-fluid.iklan {
    height: 180px;
  }
  .title-description{
    font-size: small;
  }
  .container.footer{
    font-size: small;
  }
}
